@inherits LayoutComponentBase
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@inject NavigationManager NavigationManager

<div class="appbar-control-container">
    <SfAppBar ColorMode="AppBarColor.Dark">
        <SfButton CssClass="e-inherit" IconCss="e-icons e-home" OnClick="onHomeBtnClick"></SfButton>
        <SfDropDownButton CssClass="e-inherit" IconCss="e-icons e-line-normal" Content="Carousel">
            <DropDownMenuItems>
                <DropDownMenuItem Text="Manage" IconCss="e-icons e-field-settings"></DropDownMenuItem>
                <DropDownMenuItem Text="Create" IconCss="e-icons e-insert-right"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfDropDownButton>
        <SfDropDownButton CssClass="e-inherit" IconCss="e-icons e-line-normal" Content="Products">
            <DropDownMenuItems>
                <DropDownMenuItem Text="Manage" IconCss="e-icons e-field-settings"></DropDownMenuItem>
                <DropDownMenuItem Text="Create" IconCss="e-icons e-insert-right"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfDropDownButton>
        <AppBarSpacer></AppBarSpacer>
        <div style="width:400px" class="ralign">
            <span class="e-input-group e-control-wrapper e-inherit">
                <input type="text" class="e-searchinput e-input" placeholder="Search" />
                <span class="e-icons e-search e-input-group-icon"></span>
            </span>
        </div>
        <AppBarSpacer></AppBarSpacer>
        <SfButton CssClass="e-inherit" IconCss="e-icons e-user" Content="Login" OnClick="onNavBtnClick"></SfButton>
        <SfButton CssClass="e-inherit" IconCss="e-icons e-people" Content="Signin" OnClick="onNavBtnClick"></SfButton>
    </SfAppBar>
</div>
<br/>

<div class="page">
    <main>
        <article class="content px-4 text-center">
            @Body
        </article>
    </main>
</div>

@code{
    public void onNavBtnClick()
    {
        NavigationManager.NavigateTo("#");
    }

    public void onHomeBtnClick()
    {
        NavigationManager.NavigateTo("#");
    }
}


<style>
    .appbar-control-container .e-btn.e-inherit {
        margin: 0 3px;
    }

    .ralign {
        margin-right: 15px;
    }
</style>