@page "/fetchdata"
@using Blazor.Presentation.Client.Services;
@using Blazor.Shared.Entities.DataTransferObjects;
@inject CarouselItemService CarouselItemService

<PageTitle>Carousel items</PageTitle>

<h1>Carousel items</h1>

@if (_carouselItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image Alternative Text</th>
                <th>Caption Text</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carouselItem in _carouselItems)
            {
                <tr>
                    <td>@carouselItem.Id</td>
                    <td>@carouselItem.Alt</td>
                    <td>@carouselItem.Caption</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<CarouselItemDto> _carouselItems;

    protected override async Task OnInitializedAsync() => _carouselItems = await CarouselItemService.GetCarouselItemsAsync();
}
